---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Expert Fraud Investigators",
    description:
      "Our specialists carefully assess each case to find the best path to recovery.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Clear, Transparent Fees",
    description:
      "We charge a 15% fee only on successful recoveries, with no upfront costs.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Personalized Case Reports",
    description:
      "Our team prepares a customized report to submit to your bank.",
    icon: "bx:bxs-data",
  },
  {
    title: "Nationwide Resources",
    description:
      "We work with banks, financial authorities, and trusted partners for maximum recovery.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Trusted and Secure",
    description:
      "As a registered NGO, UNKD upholds high ethical standards for fraud recovery.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Thousands Trust UNKD",
    description:
      "Join over 5,000 fraud victims who’ve reclaimed their funds with UNKD.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    All the tools you need to reclaim lost funds
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    UNKD provides comprehensive support for every case. Our recovery approach
    combines expertise and personalized solutions.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
